*{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(52, 11, 90);
}
body{
  padding: 60px;
}

input{
  color: brown;
  font-size: 1.3rem;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.card{
  align-content: center;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}
.card p {
  padding: 5px;
  text-align: 170px;
}

.card img{
  max-height: 170px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}